<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
{% block body %}
<body>
    <div>
        <h1>Hello {{ nom }} {{ prenom }}</h1>
        <p>On tri le chiffre  </p>
    </div>
</body>
{% endblock %}

</html>